nav.navbar.navbar-expand-lg.fixed-top.navbar-transparent(color-on-scroll="300")
  .container
    .navbar-translate
      a.navbar-brand(
        href="https://demos.creative-tim.com/paper-kit/index.html",
        rel="tooltip",
        title="Coded by Creative Tim",
        data-placement="bottom",
        target="_blank"
      )
        | Paper Kit 2
      button.navbar-toggler.navbar-toggler(
        type="button",
        data-toggle="collapse",
        data-target="#navigation",
        aria-controls="navigation-index",
        aria-expanded="false",
        aria-label="Toggle navigation"
      )
        span.navbar-toggler-bar.bar1
        span.navbar-toggler-bar.bar2
        span.navbar-toggler-bar.bar3
    #navigation.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        block navs
          li.nav-item
            a.nav-link(
              rel="tooltip",
              title="Follow us on Twitter",
              data-placement="bottom",
              href="https://twitter.com/CreativeTim",
              target="_blank"
            )
              i.fa.fa-twitter
              p.d-lg-none Twitter
          li.nav-item
            a.nav-link(
              rel="tooltip",
              title="Like us on Facebook",
              data-placement="bottom",
              href="https://www.facebook.com/CreativeTim",
              target="_blank"
            )
              i.fa.fa-facebook-square
              p.d-lg-none Facebook
          li.nav-item
            a.nav-link(
              rel="tooltip",
              title="Follow us on Instagram",
              data-placement="bottom",
              href="https://www.instagram.com/CreativeTimOfficial",
              target="_blank"
            )
              i.fa.fa-instagram
              p.d-lg-none Instagram
          li.nav-item
            a.nav-link(
              rel="tooltip",
              title="Star on GitHub",
              data-placement="bottom",
              href="https://www.github.com/CreativeTimOfficial",
              target="_blank"
            )
              i.fa.fa-github
              p.d-lg-none GitHub
