// Core JS Files
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
)
script(
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
)
// Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"
)
// Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.1.0/nouislider.min.js"
)
// Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
)
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
)
// Control Center for Paper Kit: parallax effects, scripts for the example pages etc
script(src="../assets/js/paper-kit.js")
// Google Maps Plugin
script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE")
