extends _layout

block main
  section.bg-dark.text-bg-dark(
    style="background-image: url('../assets/img/fabio-mangione.jpg')",
    data-pk-parallax="true"
  )

  section
    .row
      .col-md-6.mx-auto.text-center
        p
          img.rounded-circle(
            src="../assets/img/faces/joe-gardner-2.jpg",
            alt="Circle Image",
            width="150"
          )
        h4 Jane Faker
        h6 Music Producer
        p
          | An artist of considerable range, Jane Faker — the name taken by
          | Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs
          | and records all of his own music, giving it a warm, intimate feel
          | with a solid groove structure.
        btn.btn.btn-outline-default.rounded-pill
          i.fa.fa-cog
          = " "
          | Settings

  section.container
    ul#myTab.nav.nav-tabs(role="tablist")
      li.nav-item(role="presentation")
        button#follows-tab.nav-link.active(
          data-bs-toggle="tab",
          data-bs-target="#follows-tab-pane",
          type="button",
          role="tab",
          aria-controls="follows-tab-pane",
          aria-selected="true"
        ) Follows
      li.nav-item(role="presentation")
        button#following-tab.nav-link(
          data-bs-toggle="tab",
          data-bs-target="#following-tab-pane",
          type="button",
          role="tab",
          aria-controls="following-tab-pane",
          aria-selected="false"
        ) Following
    #myTabContent.tab-content.row
      #follows-tab-pane.tab-pane.col-md-6.mx-auto.show.active(
        role="tabpanel",
        aria-labelledby="follows-tab",
        tabindex="0"
      )
        .row.py-3.border-bottom
          .col-lg-2.col-4
            img.rounded-circle.img-fluid(
              src="../assets/img/faces/clem-onojeghuo-2.jpg",
              alt="Circle Image"
            )
          .col-lg-7.col-4
            h6
              | Flume
              br
              small Musical Producer
          .col-lg-3.col-4
            .form-check
              label.form-check-label
                input.form-check-input(type="checkbox", value="", checked)
        .row.py-3
          .col-lg-2.col-md-4.col-4.mx-auto
            img.rounded-circle.img-fluid(
              src="../assets/img/faces/ayo-ogunseinde-2.jpg",
              alt="Circle Image"
            )
          .col-lg-7.col-md-4.col-4
            h6
              | Banks
              br
              small Singer
          .col-lg-3.col-md-4.col-4
            .form-check
              label.form-check-label
                input.form-check-input(type="checkbox", value="")
      #following-tab-pane.tab-pane.col-md-6.mx-auto(
        role="tabpanel",
        aria-labelledby="following-tab",
        tabindex="0"
      )
        h3.text-muted Not following anyone yet :(
        button.btn.btn-warning.rounded-pill Find artists
